<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1 style="color:cyan">Delete a Book</h1></br>
        <h1>
            <a href='/'>Home</a>
            <a href='/addauthors'>Add Authors</a>
            <a href='/authorlist'>Author List</a>
            <a href='/addbook'>Add Book</a>
            <a href='/booklist'>Book List</a>
            <a href='/deletebook'>Delete Books</a>
            <a href='/updateauthor'>Update Author Publications</a>
        </h1>
        <form action="/deletebookpost"  method="POST">
            ISBN <input type="text" name="isbn" /></br>
            <input type="submit" value="Submit"/></br>
        </form>
    </body>
</html>